modules = ["nodejs-24", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
JWT_SECRET = "72d6faf1c0dbdd756c33792c5d00dd1439c6692916acf8ae4fb74402f0cae12fde42fd6102bded137cf5c2e71cbeadd0"
JWT_REFRESH_SECRET = "32f879fdcf9f56a0ea529960245e8022acc5e7f3464a3408c18f4b0a1f125d3dfe5be7b1115d25e25e94801658e44837"
JWT_ACCESS_EXPIRES = "15m"
JWT_REFRESH_EXPIRES = "7d"
NODE_ENV = "development"
VAPID_PUBLIC_KEY = "BP01OKUUxOivG2IdmnuNZlQk5stsThE28b7xz3A7nWl54Ki58-c-0kbBbmWd51b6YZPe2lp7vZNrIkUUC4Cj9bU"
VAPID_PRIVATE_KEY = "IZVfM1ROFRBgC3P72vop6VBrVoKk5-MA7IiNvS5XCV8"
VAPID_SUBJECT = "mailto:admin@baidabaza.ru"
